---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hi, 👋</div>
      <div class="text-5xl font-bold">I'm Griffin.</div>
      <div class="text-3xl py-3 font-bold">MBA Candidate, Developer and Open Source Contributor</div>
      <div class="py-2">
        <text class="text-lg">
        This is the third iteration of my personal website, which I use in part to learn new web technologies.
        <br><br>
        Previously, I have built it with:
          <ul class="list-disc px-8">
            <li><a href="https://gohugo.io/" target="_blank">Hugo</a></li>
            <li>Vanilla HTML5 and CSS</li>
          </ul>
        <br>
        I'm a developer with experience in JavaScript, Python, Unix, Shellscripting, C, SQL, Web Development, DevOps, Technical Writing, Documentaion, Product Management, Technical Evangelism, and more.
        <br><br>
        Currently, I am learning Kotlin and Android dev, Swift and MacOS dev, and Rust.
        <br>
        </text>
      </div>
      <br>
      <div class="alert alert-info shadow-lg">
        <div>
          <span>&larr; Learn more about me via the sidebar options.</span>
        </div>
      </div>
    </div>
</BaseLayout>
