---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Portfolio">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Talks and Videos</div>
  </div>

  <HorizontalCard
    title="BabylonJS Metaverse Talk"
    img="https://img.youtube.com/vi/WLu6NKYqFQs/maxresdefault.jpg"
    desc="At Conf42 JS, XtremeJS, JavaScript Global Summit"
    url="https://www.youtube.com/watch?v=WLu6NKYqFQs"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Using Low-Latency Streaming REST API + Postman with Dolby.io "
    img="https://img.youtube.com/vi/S9wE1PLCJmE/maxresdefault.jpg"
    desc="Using REST APIs to automate processes."
    url="https://www.youtube.com/watch?v=S9wE1PLCJmE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Audio and Video with Dolby APIs and Postman"
    img="https://img.youtube.com/vi/2XwTKlFbSAY/maxresdefault.jpg"
    desc="Live Stream with Ian Douglas at Postman"
    url="https://www.youtube.com/watch?v=2XwTKlFbSAY"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Building Accessible API Specifications"
    img="https://img.youtube.com/vi/OJ42oDh7Jnw/maxresdefault.jpg"
    desc="At APIdays Paris, Helsinki, Interface"
    url="https://www.youtube.com/watch?v=OJ42oDh7Jnw"
  />


  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Blog Posts</div>
  </div>

  <HorizontalCard
    title="Dolby.io Blogs"
    img="https://dolby.io/wp-content/uploads/2022/09/Dolby.io_Communications-Monitor_API_Webhooks-2.jpg"
    desc="Collection of blog posts I wrote for Dolby Laboratories."
    url="https://dolby.io/blog/author/gsolo/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pridebot"
    img="https://web.archive.org/web/20200305033928im_/https://d33wubrfki0l68.cloudfront.net/4682c9d9ead4fe9bc6b55b0b7f5d9b12588d00bb/189a4/blog/img/2019.06.28e.png"
    desc="Twilio chat bot blog on locating nearest pride events. Made while at Transposit."
    url="https://web.archive.org/web/20200305033928/https://www.transposit.com/blog/2019.06.28-pridebot/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Datadog x Twilio"
    img="https://imgix.datadoghq.com/img/blog/send-alerts-sms-customizable-webhooks-twilio/twilio_integration_201222_FINAL.png?w=1920&auto=format&q=80&fit=max&lossless=1&dpr=2"
    desc="Tutorial on integrating Datadog with Twilio, made while at Datadog."
    url="https://www.datadoghq.com/blog/send-alerts-sms-customizable-webhooks-twilio/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dev.to"
    img="https://res.cloudinary.com/practicaldev/image/fetch/s--Y69yEuuf--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/uo96bu2ir33se8h0zasn.png"
    desc="Collection of other misc blogs on dev.to."
    url="https://dev.to/wingofagriffin"
  />
</BaseLayout>
